@model AliHaydarAtma.Entites.Model.Sepet
@{
    ViewBag.Title = "Guncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="text-align: center; background-color: #1CB15F ;color:white;font-family:'Century Gothic';margin:5px">
    <h2><b> Güncelleme Sayfası </b></h2>
</div>


<div class="form-group" style="margin:5px">
    @using (Html.BeginForm("Guncelle", "Sepet", FormMethod.Post))
    {
        @Html.Label("Sepet Id")
        @Html.TextBoxFor(x => x.SepetId, new { @class = "form-control", @readonly = "readonly" })
        <br />
        @Html.Label("Musteri Adi")
        @Html.DropDownListFor(x => x.MusteriId, (List<SelectListItem>)ViewBag.Musteriler, new { @class = "form-control" })
        <br />
        @Html.Label("Urun Adi")
        @Html.DropDownListFor(x => x.UrunId, (List<SelectListItem>)ViewBag.Urunler, new { @class = "form-control" })
        <br />
        @Html.Label("Urun Adet")
        @Html.TextBoxFor(x => x.SepetAdet, new { @class = "form-control" })
        <br />
        <br />
        <button class="btn btn-primary" style="background-color: #1CB15F;color:white"> Güncelle </button>
    }
</div>

